body{
    background-color:#006666;
    
    
}

header{

    margin: 50px 50px 50px 50px;
    
    
}
h1{
    font-style:italic;
    font-family:sans-serif;
    color:#ffffff;
    text-align:center;

}
